/****************** 总容器 ******************/
.wrapper{
    width: 100%;
    height: 100%;
}

/****************** header部分 ******************/
.wrapper header{
    width: 100%;
    height: 15vw;
    background-color: #ffa600;

    display: flex;
    align-items: center;
}

.wrapper header .location-text{
    margin-left: 2vw;
    font-size: 4.5vw;
    font-weight: 700;
    color: black;
}
.wrapper header .location-text .fa-chevron-right{
    margin-left: 1vw;
}
.wrapper header .location-text .fa-bell-o{
    margin-left: 38vw;
}

/****************** search部分 ******************/
.wrapper .search{
    width: 100%;
    height: 13vw;
    border-radius: 50%;
}
.wrapper .search .search-fixed-top{
    width: 100%;
    height: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper .search .search-fixed-top .search-box{
    width: 90%;
    height: 9vw;
    background-color: #eaeaea;
    border-radius: 5vw;
    float: left;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 3.2vw;
    color: #737373;
    font-family: "宋体";

    user-select: none;
}
.wrapper .search .search-fixed-top .search-box .fa-search{
    margin-left: 4vw;
}
.wrapper .search .search-fixed-top .search-box .search-c{
    width: 15vw;
    height: 9vw;
    background-color: #ffa600;
    border-radius: 5vw;
    margin-left: 57vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4vw;
    color: black;
    font-family: 行楷;

}
        /****************** 推荐商品1 ******************/
.recommend1{
    width: 92%;
    margin-left: 5vw;
    display: flex;
    justify-content: space-around;
}
.recommend1 .btn{
    height: 4.5vw;
    position: relative;
    background: #eaeaea;
    border-radius: 5vw;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 2.5vw;
    font-family: 宋体;
}
/****************** 点餐分类1 ******************/
.foodtype1{
    width: 100%;
    height: 24vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.wrapper .foodtype1 li{

    width: 18vw;
    height: 20vw;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;
}
.wrapper .foodtype1 li img{
    width: 15vw;
    height: 15vw;
}
.wrapper .foodtype1 li p{
    font-size: 2.5vw;
    color: #666;
}
/****************** 点餐分类2 ******************/
.foodtype2{
    width: 100%;
    height: 40vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.wrapper .foodtype2 li{

    width: 18vw;
    height: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;
}
.wrapper .foodtype2 li img{
    width: 8vw;
    height: 8vw;
}
.wrapper .foodtype2 li p{
    font-size: 2.5vw;
    color: #666;
}
/****************** 优惠券及商家广告 ******************/
.wrapper .banner{
    height: 9vw;
    display: flex;
    background-color: #ffffff;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.wrapper .banner .ban{
    height: 6vw;
    width: 15vw;
    background: #eaeaea;
    border-radius: 0.5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 2.5vw;
    font-family: 仿宋;
}
.wrapper .banner i{
    font-size: 3vw;
}
/****************** 推荐商家列表部分 ******************/
.wrapper .business{
    width: 100%;
    margin-bottom: 14vw;
}
.wrapper .business li{
    width: 100%;
    box-sizing: border-box;
    padding: 2.5vw;
    user-select: none;
    border-bottom: solid 1px #DDD;

    display: flex;
}
.wrapper .business li img{
    width: 24vw;
    height: 24vw;
}
.wrapper .business li .business-info{
    width: 100%;
    box-sizing: border-box;
    padding-left: 3vw;
}
.wrapper .business li .business-info .business-info-h{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}
.wrapper .business li .business-info .business-info-h h3{
    font-size: 4vw;
    font-family: 仿宋;
    color: #333;
}
.wrapper .business li .business-info .business-info-h i{
    font-size: 3vw;
}
.wrapper .business li .business-info .business-info-star{
    width: 100%;
    display: flex;

    align-items: center;
    margin-bottom: 1vw;
    font-size: 2.7vw;
}
.wrapper .business li .business-info .business-info-star .p1{
    color: #F1884F;
    font-size: 3.5vw;
    margin-left: 1vw;
    font-family: 仿宋;
}
.wrapper .business li .business-info .business-info-star .p2{
    color: #7e7e7e;
    margin-left: 2vw;
    font-family: 仿宋;
}
.wrapper .business li .business-info .business-info-star .business-info-star-mtks{

    color: #838383;
    font-size: 2.7vw;

    margin-left: 14vw;
    border-radius: 2px;
    padding: 0 1vw;
    border: #AAAAAA solid 0.1vw;

}
.wrapper .business li .business-info .business-info-delivery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5vw;

    color: #7e7e7e;
    font-size: 2.5vw;
    font-family: 仿宋;
}
.wrapper .business li .business-info .business-info-attractive {
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    width: 100%;
    margin-bottom: 1vw;
    border-radius: 1vw;

    display: flex;
    align-items: center;

    color: #816608;
    font-size: 2.5vw;
    font-family: 仿宋;
    font-weight: bold;
}
.wrapper .business li .business-info .business-info-attractive .a1{
    height: 4vw;
    width: 22vw;
    background: #f1e9c0;
    border-radius: 0.5vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .business li .business-info .business-info-attractive .a2{
    height: 4vw;
    width: 15vw;
    background: #f1e9c0;
    border-radius: 0.5vw;
    margin-left: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .business li .business-info .business-info-attractive .a3{
    height: 4vw;
    width: 33vw;
    background: #f1e9c0;
    border-radius: 0.5vw;
    margin-left: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .business li .business-info .business-info-attractive .a4{
    height: 4vw;
    width: 10vw;
    background: #f1e9c0;
    border-radius: 0.5vw;
    margin-left: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .business li .business-info .business-info-discount {
    border: 1px solid #F1884F;
    width: 50vw;
    height: 3vw;
    margin-bottom: 1vw;
    border-radius: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #F1884F;
    font-size: 2.8vw;
    font-family: 仿宋;
}
.wrapper .business li .business-info .business-info-discount2 {
    border: 1px solid #F1884F;
    width: 50vw;
    height: 3vw;
    margin-bottom: 1vw;
    border-radius: 1vw;

    display: flex;
    align-items: center;

    color: #F1884F;
    font-size: 2.8vw;
    font-family: 仿宋;
}
.wrapper .business li .business-info .business-info-discount3 {
    height: 3vw;
    margin-bottom: 1vw;
    border-radius: 1vw;

    display: flex;
    align-items: center;

}
.wrapper .business li .business-info .business-info-discount3 .a1{
    border: 1px solid #F1884F;
    width: 30vw;
    height: 3vw;
    margin-bottom: 1vw;
    border-radius: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #F1884F;
    font-size: 2.8vw;
    font-family: 仿宋;
}
.wrapper .business li .business-info .business-info-discount3 .a2 {
    border: 1px solid #F1884F;
    width: 12vw;
    height: 3vw;
    margin-left: 2vw;
    margin-bottom: 1vw;
    border-radius: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #F1884F;
    font-size: 2.8vw;
    font-family: 仿宋;
}
.wrapper .business li .business-info .business-info-discount3 .a3 {
    border: 1px solid #F1884F;
    width: 45vw;
    margin-left: 2vw;
    margin-bottom: 1vw;
    border-radius: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #F1884F;
    font-size: 2.8vw;
    font-family: 仿宋;
}
.wrapper .business li .business-info .business-info-discount .business-info-discount-subsidy{
    height: 3vw;
    margin-left: 5.1vw;
    padding: 0 0 0 1vw;
    background-color: #f6be9f;
}
/****************** 底部菜单部分 ******************/
.wrapper .block{
    width: 100%;
    height: 1vw;
}
.wrapper .footer{
    width: 100%;
    height: 14vw;
    border-top: solid 1px #DDD;
    background-color: #fff;

    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapper .footer li{
    /*li本身的尺寸完全由内容撑起*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #999;
    user-select: none;
    cursor: pointer;
}
.wrapper .footer li img{
    width: 8vw;
    height: 8vw;
}
.wrapper .footer li p{
    font-size: 2.8vw;
}









