/****************** 总容器 ******************/
.wrapper{
    width: 100%;
    height: 100%;
}
/****************** 顶部退出部分 ******************/
.wrapper .start{
    width: 100%;
    height: 10vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #ecab8f;

    user-select: none;
    cursor: pointer;
}
.wrapper .start i{
    font-size: 7vw;
    margin-left: 1vw;
}
.wrapper .start p{
    font-size: 3vw;
    margin-right: 6vw;
    font-family: 仿宋;
}
/****************** header部分 ******************/
.wrapper header{
    width: 100%;
    height: 20vw;
    margin-top: 12vw;

    color: #030303;
    font-size: 7vw;
    font-family: 华文仿宋;

    display: flex;
}
.wrapper header p{
    margin-left: 10vw;
}
/****************** 表单部分 ******************/
.wrapper .form-box{
    width: 100%;

}
.wrapper .form-box li{
     width: 90%;
     height: 10vw;

     margin-left: 10vw;
     margin-block-end: 1vw;
     display: flex;
     align-items: center;
 }
.wrapper .form-box li .title{
    flex: 0 0 18vw;
    font-size: 4vw;
    color:#ecab8f;
    font-family: 仿宋;
}
.wrapper .form-box li .title i{
    color:#030303;
}
.wrapper .form-box li .content{
    flex: 1;
}
.wrapper .form-box li .content input{
    border: none;
    outline: none;
    width: 100%;
    height: 4vw;
    font-size: 5vw;
    font-family: 仿宋;
}
.wrapper .form-box .title2{
    margin-left: 10vw;
    font-size: 3vw;
    color:#7e7e7e;
    font-family: 仿宋;
}
.wrapper .form-box .title2 .line{
    margin-block-end: 2vw;
}
.wrapper .form-box .title3{
    margin-top: 14vw;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-between;
    display: flex;

    font-size: 3vw;
    color:#7e7e7e;
    font-family: 仿宋;
}
.wrapper .form-box .title3 input{
    width: 10vw;
    height: 3vw;
}
.wrapper .button-login button {
    background-color: #a6a6a6;
    margin-left: 10vw;
    margin-top: 4vw;
    border-radius: 50px;

    height: 12vw;
    width: 80%;
    font-size: 3.8vw;
    color: #fff;
    font-family: 仿宋;

    border: none;
    outline: none;
}
.wrapper .form-box .title4{
    margin-top: 4vw;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-between;
    display: flex;

    font-size: 3vw;
    color:#ecab8f;
    font-family: 仿宋;
}
/****************** 底部登陆方式 ******************/
.wrapper .footland{
    margin-top: 60vw;
    margin-left: 30vw;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper .footland img{
    width: 13vw;
    height: 13vw;
}
.wrapper .block{
    height: 10vw;
}
